.timeline {
    list-style: none;
    position: relative;
    padding-left: 2rem;
    margin: 0;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    width: 1.5px;
    background: #8b9095;
}

.timeline li {
    position: relative;
    margin: 1.5rem 0;
}

.timeline .node {
    position: absolute;
    left: -21.21px;
    top: 0.4rem;
    width: 12px;
    height: 12px;
    background: #0c0d0f;
    border-radius: 50%;
    border: 1.8px solid #8b9095;
}

.timeline .content {
    padding: 0.5rem 0.2rem;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 77.39px;
}

.scroller::-webkit-scrollbar {
    background-color: #0c0d0f;
    border-radius: 3rem;
    padding-inline: 1rem;
    height: 14px;
    margin-inline: 1rem;

}

.scroller::-webkit-scrollbar-track {
    background-color: #0c0d0f;
    border-radius: 3rem;
    height: 14px;
    margin-inline: 1.5rem;
}

.scroller::-webkit-scrollbar-thumb {
    height: 6px;
    width: 100px;
    background-color: gray;
    border-radius: 3px;
    border: 4px solid #0c0d0f;
}

.DiagramContainer svg {
    max-height: 550px;
}