.timeline {
    list-style: none;
    position: relative;
    padding-left: 2rem;
    margin: 0;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    width: 1.5px;
    background: #8b9095;
}

.timeline li {
    position: relative;
    margin: 1.5rem 0;
}

.timeline .node {
    position: absolute;
    left: -21.21px;
    top: 0.4rem;
    width: 12px;
    height: 12px;
    background: #0c0d0f;
    border-radius: 50%;
    border: 1.8px solid #8b9095;
}

.timeline .content {
    padding: 0.5rem 0.2rem;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 77.39px;
}

.DiagramContainer svg {
    max-height: 550px;
}

.scroller::-webkit-scrollbar {
    /* border-radius: 3rem; */
    border-radius: 3rem;
    padding-inline: 1rem;
    height: 14px;
    width: 100vw;
    margin-inline: 1rem;

}


[data-slot="table-container"]::-webkit-scrollbar {

    border-radius: 3rem;
    padding-inline: 1rem;
    height: 14px;
    width: 100vw;
    margin-inline: 1rem;

}

[data-slot="table-container"]::-webkit-scrollbar-track , .scroller::-webkit-scrollbar-track {
    border-radius: 3rem;
    height: 14px;
    width: 100%;
    margin-inline: 1.5rem;
}

[data-slot="table-container"]::-webkit-scrollbar-thumb, .scroller::-webkit-scrollbar-thumb {
    height: 5px;
    width: 100px;
    background-color: #24272a;
    border: 5.5px solid #0c0d0f;
    border-radius: 3px;
}

[data-slot="table-container"]::-webkit-scrollbar-thumb:hover, .scroller::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.4s ease-out forwards;
}

.autoShow {
  opacity: 0;
  transform: translateY(200px) scale(0.3);
  transition: all 0.6s ease-out;
}

.autoShow.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}